@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Nunito:wght@600;700&display=swap");

/* CSS rules to specify families

font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif; */

body {
  margin: 0;
  background-image: url("imgs/Group2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.root {
  color: white;
  padding-top: 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  margin: 0;
  padding: 0;
}

.header_logo {
  width: 202px;
  height: 103px;
  margin: 0;
  padding: 0;
  margin-bottom: -70px;
}

.main {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-top: -60px;
}

.main_header {
  color: #fff;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0;
}

.main_paragraph {
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 0;
}

.main_image {
  min-width: 640px;
  height: 605px;
  position: relative;
  background-image: url("imgs/Main_image.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.main_image_Htext {
  position: absolute;
  top: 430px;
  left: 50px;
  color: #ff1a62;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.main_image_Ptext {
  position: absolute;
  color: #080101;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 410px;
  left: 90px;
  margin-top: 20px;
}

.button_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}

.play_button {
  background-image: url("imgs/Button.png");
  background-position: center;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  width: 304px;
  height: 119px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: white;
  margin-top: -170px;
}

.play_button-mobile {
  background-image: url("imgs/Button.png");
  background-position: center;
  background-size: contain;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  width: 304px;
  height: 119px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: white;
  text-align: center;
  display: none;
}

.bullets {
  display: flex;
}

.bullet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 195px;
  height: 186px;
  margin-right: 4px;
}

.bullet_img {
  height: 86px;
  height: 86px;
}

.bullet_disc {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  margin-top: 0px;
}

@media (max-width: 1130px) {
  .root {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  body {
    background-size: cover;
    width: auto;
    height: auto;
  }

  .header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .header_logo {
    margin-bottom: 40px;
  }

  .main {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .main_header {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
  }

  .main_paragraph {
    text-align: center;
  }

  .main_image {
    min-width: 457px;
    height: 370px;
    margin-bottom: 77px;
    position: relative;
    background-image: url("imgs/Main_image.png");
    background-position: center;
    background-size: contain;
  }

  .main_image_Htext {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    top: 280px;
    left: 40px;
  }

  .main_image_Ptext {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    top: 260px;
    left: 65px;
  }

  .button_block {
    margin-top: 10px;
  }

  .play_button {
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  body {
    background-image: url("imgs/Group900.png");
    background-position: center;
  }

  .root {
    padding-top: 42px;
    position: relative;
    overflow: hidden;
  }

  .decorative {
    background-position: left;
    z-index: -1;
    position: absolute;
    width: 150vw;
    height: 150vh;
    background-size: contain;
    margin-top: -150px;
  }

  .header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .header_logo {
    width: 163px;
    height: 77px;
    margin-bottom: 16px;
  }

  .main {
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 273px;
  }

  .main_header {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
  }

  .main_paragraph {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;

    margin: 0;
  }

  .main_image {
    min-width: 340px;
    min-height: 446px;
    position: relative;
    background-image: url("imgs/Main_image_mobile.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .main_image_Htext {
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
    top: 300px;
    left: 50px;
  }

  .main_image_Ptext {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    top: 280px;
    left: 80px;
  }

  .button_block {
    flex-direction: column;
    margin: 0 auto;
    margin-top: -40px;
  }

  .play_button {
    width: 164px;
    height: 64px;
    font-size: 20px;
    display: none;
  }

  .bullets {
    flex-direction: column;
    margin-top: 0px;
  }

  .bullet {
    flex-direction: row;
    width: 319px;
    height: auto;
    margin-bottom: 24px;
    margin-right: 0px;
  }

  .bullet_img {
    width: 76px;
    height: 76px;
    margin-right: 16px;
  }

  .bullet_disc {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 227px;
  }

  .play_button-mobile {
    display: block;
    width: 161px;
    height: 62px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;

    z-index: 3;
  }
}

@media (max-width: 723px) {
  body {
    background-image: url("imgs/Group723.png");
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .root {
    margin: 0 auto;
  }

  .bullet {
    margin: 0 auto;

    margin-bottom: 24px;
  }

  .content {
    width: 279px;
    margin: 0 auto;
  }

  .play_button {
    font-size: 20px;
    margin-bottom: 48px;
    margin-top: -20px;
    z-index: 3;
    display: none;
  }

  .main_header {
    margin-bottom: 5px;
  }

  .main_image {
    min-width: 340px;
    min-height: 446px;
    position: relative;
    background-image: url("imgs/Main_image_mobile.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .main_image_Htext {
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    left: 50px;
    top: 300px;
  }

  .main_image_Ptext {
    font-size: 16px;
    font-weight: 700;
    top: 280px;
    left: 80px;
  }

  .play_button-mobile {
    display: block;
    width: 161px;
    height: 62px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;

    z-index: 3;
  }
}
